ServiceClients/Service References/ReceiveServiceReference/Receive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://niem.gov/niem/structures/2.0" elementFormDefault="qualified" targetNamespace="http://niem.gov/niem/structures/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexObjectType" abstract="true" />
  <xs:complexType name="ReferenceType">
    <xs:attribute form="qualified" name="id" type="xs:ID" />
    <xs:attribute form="qualified" name="ref" type="xs:IDREF" />
    <xs:attribute form="qualified" name="linkMetadata" type="xs:IDREFS" />
  </xs:complexType>
</xs:schema>